.searchContainer {
	display: grid;
	grid-template-rows: minmax(450px, 100%);
	height: 100%;
	justify-items: stretch;
	overflow-y: hidden;
}

.gridItemWrapper {
	align-items: center;
	text-align: left;
	user-select: none;
}

.gridItem {
	align-content: center;
	grid-template-rows: min-content;
	grid-template-columns: 70px auto;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	will-change: transform;
	&:hover {
		transform: translateY(-2px);
	}
}

.search-result-item {
    &:hover > div {
        background-color: var(--mantine-color-blue-6) !important;
        color: white !important;
        
        .mantine-Text-root {
            color: white !important;
        }
    }
}
